body {
  font-size: 16px;
  color: #fff;
  background-color: #61341f;
  font-family: 'Oxygen', sans-serif;
}
/* Header */
#header-nav{
  background-color: black;
  border-width: 0;
}
.navbar-brand{
  padding: 5px 5px 5px 20px;
}
.navbar-brand a h1{
  margin: 0;
  color: white;
  font-weight: 1000;
  font-size: 1.8em;
}
.navbar-brand a:hover{
  text-decoration: none;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: white;
  text-align: center;
  border: white 1px solid;
  background: #082838;
}
#nav-list a:hover {
  background: #E7E7E7;
  color: black;
}
#collapsable-nav a { /* Collapsed nav menu text */
  font-size: 1.2em;
}

/* End Header */

/* Home Page */
#menu-title{
  font-weight: 800;
  font-size: 1.8em;
}
.col{
  background-color: black;
}
.col h2{
  font-size: 1.2em;
  padding-top: 10px;
  font-weight: 600;
}
.col p{
  padding: 10px;
}
/* End Home Page */

/********** Medium devices only **********/
@media (min-width: 992px){
  /* Header */

  /* End Header */

  /* Home Page */

  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Header */

  /* End Header */

  /* Home Page */

  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */

  /* End Header */

  /* Home Page */

  /* End Home Page */
